@import "tailwindcss";

@theme {
  --color-primary-light: #eee9fd;
  --color-primary-light-hover: #d6c8fa;
  --color-primary: #6f47eb;
  --color-gray: #e4e4e4;
  --color-dark-gray: #4a4c4e;
  --color-light-gray: #f9f9f9;
}
